.header {
  margin-top: 50px;
  display: flex;
  justify-content: center;

  /*background-color: black;*/
  /*background-image: url("https://i.ytimg.com/vi/FaGnCtsj4e8/maxresdefault.jpg");
  backgroudn-image: url("https://qph.fs.quoracdn.net/main-qimg-955ca3ed47386642dfea28ee26fb859e-c");
  background-position: bottom;
  background-size: cover;*/
  /*color: white;*/
}

body {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  border: 1px solid black;
  padding-bottom: 0px;
  /* background-color: rgb(165, 11, 11); */
  background-color: rgb(139,	0, 10);
  color: rgba(255, 188, 114, 0.8);
  text-shadow: 1px 1px 2px rgba(188, 9, 9, 1), 0 0 0.7em yellow, 0 0 0.15em yellow, 5px 5px 12px black;
  text-rendering: optimizeLegibility;
  /* font-family: 'Abril Fatface'; */
  font-family: 'Nova Slim';
  /* height: 100%; */
  /* font-family: 'Droid Sans'; */
}


.canvas-div div {
  /* display: none; */
  font-size: 25px;
  margin: 0 -150px 80px -150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canvas-div img {
  margin-top: 5px;
  opacity: .7;
  background: transparent;
  box-shadow: inset 2px 2px 5px black;
  width: 50px;
  height: 100%;
  box-shadow: 5px 5px 35px black;
  border-radius: 2px;
}

body div{
  /*border: 1px solid red;*/
}

.center-div {
  width: 66%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}




.right-div, .left-div {
  width: 17%;
}

.left-div {
  margin-top: 15px;
  font-size: 15px;
  /*margin-left: 10px;*/
}

.right-div {
  /*margin-right: 5px;*/

}

.right-div span {
  font-size: 9px;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 30px;
}

.footer-text {
  margin-top: 25px;
  opacity: .7;
  font-size: 18px;
  margin-bottom: 50px;
}

.right-div {
  opacity: .7;
  text-align: right;
}

.for-all-paths {
  opacity: 0.7;
}

.how-to-play {
  margin-top: 25px;
  font-size: 22px;
  opacity: 1;
}

.slow-mode {
  margin-top: 25px;
  font-size: 22px;
  opacity: 1;
  margin-bottom: -25px;
  /* display: none; */
}

.slow-mode span {
  font-size: 8px;
}

.center-div h1 {
  font-size: 48px;
}

.footer-image {
  opacity: .2;
  display: block;
  margin-top: 0;
}

.left-value, .right-value, .left-value-active, .right-value-active {
  width: 200px;
  text-align: center;
  margin-bottom: -50px;
  font-size: 20px;
  z-index: -1;
}

.left-value, .left-value-active {
  margin-right: -150px;
}

.right-value, .right-value-active {
  margin-left: -150px;
}

.left-value, .right-value {
  opacity: .3;
}

.left-value-active, .right-value-active {
  opacity: 1;
}
