.enter-name-input {
  margin: 5px;
  border: 1px solid;
border-radius: 5px;
line-height: 25px;
font-size: 15px;
padding: 10px;
box-shadow: 1px 1px 3px;
background-color: black;
opacity: 0.3;
text-shadow: 1px 1px 5px;
transition: all 0.5s ease-in-out;
}

.enter-name-input:hover, .enter-name-input:focus {
  opacity: 0.7;
  padding: 15px;
}

.enter-name-button {
  border: 1px solid;
  border-radius: 3px;
  padding: 10px;
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
}
.enter-name-button:hover {
  opacity: 1;
}

.high-score-list {
  display: flex;
  justify-content: center;
  align-items: center;
}


.high-score-ol, .low-score-ol {
  padding-top: 20px;
  /* padding-left: 10px; */
  height: 300px;
  width: 200px;
  overflow:hidden;
  overflow-y:scroll;
  border: 3px solid rgb(242,	170,	93);
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0px 0px 20px;
  /* inset 5px 5px 10px rgb(10,	11,	80); */
  /* overflow-style:marquee,panner; */
}

.high-score-ol::-webkit-scrollbar, .low-score-ol::-webkit-scrollbar {
  width: 0px;
}

.high-score-ol li, .low-score-ol li {
  padding-top: 8px;
  padding-left: 20px;
}
